t-read
*.exe
*.exe~
*.dll
*.so
*.dylib

.DS_Store
*.test
*.out
coverage.*
coverage.out
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.idea/
# .vscode/
